<h2>New Dumpster Form:</h2>
<form action="/dumpsters" method= "POST">
    <input type="hidden" name="authenticity_token" value=" <%=form_authenticity_token%>" >

    <div>
        <label for="dumpster_name">Name:</label>
        <div>
            <input type="text" name="dumpster[name]" value="<%=@dumpster.name%>"/>
        </div>
    </div>
     <div>
        <label for="dumpster_address">Address:</label>
        <div>
            <input type="text" name="dumpster[address]" value="<%=@dumpster.address%>"/>
        </div>
    </div>
     <div>
        <label for="dumpster_city">City:</label>
        <div>
            <input type="text" name="dumpster[city]" value="<%=@dumpster.city%>"/>
        </div>
    </div>
     <div>
        <label for="dumpster_state">State:</label>
        <div>
            <input type="text" name="dumpster[state]" value="<%=@dumpster.state%>"/>
        </div>
    </div>
    <div>
        <label for="dumpster_description">Description:</label>
        <div>
            <textarea name="dumpster[description]" value="<%=@dumpster.description%>"></textarea>
        </div>
    <div>
        <label for="dumpster_goods">Types of Goods:</label>
        <% 5.times.each do%>
            <div>
                <textarea name="dumpster[goods][][name]" placeholder="Type of Goods"></textarea>
            </div>
        <%end%>
    </div>
    <input type="submit" value="Create Dumpster" />
</form>